div#master-grid {
    min-height: 100%;  
    display: grid;
    grid-template-columns: 100px 1fr 300px;
    grid-template-rows: 100px 30px 1fr 100px;
    grid-template-areas:    "header header header"
                            "nav structuralNavBar aside"
                            "nav content aside"
                            "nav content footer";    
}


/* Main grid structur */
header#topHeader {
    grid-area: header;
}


nav#navigation {
    grid-area: nav;
}

div#structuralNavBar {
    grid-area: structuralNavBar;
}

main {
    grid-area: content;
}

aside#infoPanel {
    grid-area: aside;
}

footer {
    grid-area: footer;
}